body {
    background-color: darkgray;
    position: relative;
}

h1 {
    text-align: center;
    color: rgb(50, 54, 57);
    margin: 2em;
}
.task {
    margin: 1em;
}

.title {
    text-align: center;
    text-decoration: underline;
}
.lists {
    border: 1px solid black;
    border-radius: 1em;
    margin: 0 2em 1em 2em;
    padding: 1em;
}

.checkComplete {
    margin: 0 2em;
}

.submitItem {
    margin-bottom: 1em;
}
#thingsToDo {
    background-color: #04869c;
}

#completed {
    background-color: #d6bb33 ;
}

